@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Установка дефолтных значений для всех элементов HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Установка дополнительных стилей для body */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  line-height: 1.5;
  background-color: #fff;
}

/* Установка базовых стилей для ссылок */
a {
  text-decoration: none;
  color: #000;
}

/* Установка стилей для изображений */
img {
  display: block;
  max-width: 100%;
}

/* Установка базовых стилей для кнопок */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}